html,
body {
    font-family: 'Roboto Slab', serif;
    background-color: #FFFFFF;
}

header {
    background-image: url(/img/header_bg.jpg);
    background-position: center;
    color: #FFFFFF;
}

footer {
    background: rgba(0, 0, 0, 0.025);
    color: #000000;
    padding: 40px;
}

.container {
    max-width: 1305px;
    margin: 0 auto 160px;
    color: #000000;
    position: relative;
    z-index: 1;
}

.container--footer {
    margin: 0 auto;
}

.container--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container--slider {
    align-items: flex-start;
    padding: 60px 0;
}

.block-260 {
    width: 19.9%;
}

.block-370 {
    width: 28.4%;
}

.block-480 {
    width: 36.8%;
}

.block-535 {
    width: 41.0%;
}

.block-550 {
    width: 42.1%;
}

.block-590 {
    width: 45.2%;
}

.block-920 {
    width: 70.5%;
}

.margin-left {
    margin-left: 4.2%;
}

.margin-right {
    margin-right: 4.2%;
}

.margin-right--double {
    margin-right: 8.4%;
}

.button {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    padding: 25px 40px;
    margin-top: 40px;
    border: 3px solid #FF8E0F;
    box-sizing: border-box;
    border-radius: 3px;
    text-transform: uppercase;
    position: relative;
    transition-duration: .7s;
}

.button:hover {
    background-color: #FF8E0F;
}

.button--white {
    color: #FFFFFF;
}

.button--centered {
    display: block;
    margin: 40px auto 0;
}

button::after {
    content: "→";
    font-size: 40px;
    position: absolute;
    right: -25px;
    top: 19px;
}

.section__desc--header {
    margin-right: 8.4%;
}

.section__desc--slider {
    width: 19.9%;
}

.section__title {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    /* or 119% */
    margin-bottom: 30px;
}

.section__title--features,
.section__title--about,
.section__title--customers {
    text-align: center;
    margin-bottom: 80px;
}

.section__title--header {
    font-size: 115px;
    line-height: 152px;
    color: #F3E7DE;
    margin-bottom: 10px;
}

.section__content,
.features__content,
.customers__content,
.slider__content {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    /* or 150% */
    color: rgba(0, 0, 0, 0.6);
}

.section__content:nth-child(3) {
    margin-top: 30px;
}

.section__content--header {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    line-height: 35px;
    /* or 117% */
    font-weight: 400;
    color: #FFFFFF;
}

.header-top {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 0;
}

.header-main {
    display: flex;
    justify-content: flex-end;
    padding: 155px 0;
}

.header-menu,
.footer-menu,
.footer-contact {
    margin: 40px 0;
    display: flex;
}

.header-menu li,
.footer-menu li {
    margin-right: 40px;
}

.footer-social {
    margin-left: 40px;
}

.header-menu li:last-child {
    margin-right: 0;
}

.collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.collage__item {
    width: 48%;
    height: 48%;
    margin-bottom: 4%;
}

.collage__item--about {
    width: 48%;
    height: 48%;
    margin-bottom: 4%;
}

.features,
.customers {
    align-items: flex-start;
}

.features__item,
.customers__item {
    width: 24.1%;
}

.features__item:nth-child(2),
.customers__item:nth-child(2) {
    padding: 0 6.5%;
    border-left: 1px solid rgba(51, 172, 197, 0.5);
    border-right: 1px solid rgba(51, 172, 197, 0.5);
}

.features__item:nth-child(2) {
    padding-bottom: 30px;
}

.features__desc,
.customers__desc {
    margin-top: 60px;
}

.features__title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    /* or 117% */
    margin-bottom: 30px;
}

.customers__title {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 30px;
}

.about-list__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.about-list__icon {
    width: 28px;
    height: 28px;
    margin-right: 20px;
}

.partners {
    display: flex;
}

.partners__item {
    width: 150px;
    height: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5.4%;
}

.partners__item:last-child {
    margin-right: 0;
}

.partners__item--orange {
    background-color: rgba(255, 151, 29, 0.6);
}

.partners__item--blue {
    background-color: rgba(51, 172, 197, 0.6);
}

.partners__item--yellow {
    background-color: rgba(254, 223, 15, 0.6);
}

.partners__item--green {
    background-color: rgba(193, 208, 142, 0.8);
}

.partners__item--pink {
    background-color: rgba(147, 27, 66, 0.6);
}

.partners__item--darkblue {
    background-color: rgba(8, 142, 197, 0.6);
}

.partners__logo {
    width: 80px;
    height: 80px;
}

.footer-logo__img {
    width: 107px;
    height: 53px;
}

.footer-menu,
.footer-contact {
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer-contact {
    display: flex;
    align-items: center;
}

.footer-social {
    display: flex;
    justify-content: space-between;
}

.footer-social__item {
    margin-left: 10px;
}

.footer-social__link {
    display: block;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
}

.footer-social__link--fb {
    background-image: url(/img/fb_logo.png);
}

.footer-social__link--twitter {
    background-image: url(/img/twitter_logo.png);
}

.footer-social__link--instagram {
    background-image: url(/img/insta_logo.png);
}

.section-bg--one {
    position: absolute;
    width: 428px;
    height: 592px;
    left: -130px;
    top: -235px;
    z-index: -1;
}

.section-bg--two {
    position: absolute;
    width: 496px;
    height: 659px;
    right: -300px;
    bottom: -220px;
    z-index: -1;
    transform: rotate(-9.26deg);
}

.section-bg--three {
    position: absolute;
    width: 496px;
    height: 659px;
    left: -200px;
    bottom: -260px;
    z-index: -1;
}

.section-bg--four {
    position: absolute;
    width: 428px;
    height: 592px;
    right: -180px;
    top: -80px;
    z-index: -1;
}

.section-bg--five {
    position: absolute;
    width: 428px;
    height: 592px;
    right: -180px;
    top: -20px;
    z-index: -1;
}

.section-bg--six {
    position: absolute;
    width: 371px;
    height: 342px;
    left: -300px;
    top: -320px;
    z-index: -1;
}

.section-bg--slider {
    background-color: #FAFAFA;
}

.slider__card {
    text-align: center;
}

.slider__img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.slider__title {
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 20px 0;
}